/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E1014;
}

h1{
color: #ffffff;
font-family: "Unbounded", sans-serif;
font-weight: bold;
font-size: 63px;
text-align: center;
margin-top: 60px;
}


h1 span{
    color: #9747ff;
}

p{
    color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 24px;   
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color: #ffffff;
    font-family: "poppins";
    font-size: 24px;
    text-decoration: none;
    background-color: #9747ff;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

.celulares{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;


}

.logo{
    display: block;
    margin: 75px 0 0 360px;
}
/* tablet */
@media(max-width: 768px){
    
    .logo{
        margin:65px 0 0 60px;
    }


    p{
        
        width: 90%;
    }

    .celulares {
        width: 100%;
    }
}
/* celular */
@media(max-width: 375px){
    .logo{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }
.celulares{
   width: 340px;
   height: 230px;
}

a{
    font-size: 20px;
    width: 251px;
}

}


